html {
  font-size: 100px;
}
* {
  margin: 0;
  padding: 0;
}
.title {
  text-align: center;
  font-size: 0.3rem;
  font-weight: bold;
  color: #000000;
  line-height: 0.5rem;
  letter-spacing: 0.16rem;
}
.cx_form {
  text-align: left !important;
}
form table {
  margin-top: 0.65rem;
}
form tr {
  margin-top: 0.44rem;
}
form tr:nth-child(even) {
  margin-bottom: 0.71rem !important;
}
form th {
  margin-top: 0.74rem !important;
  font-size: 0.24rem;
  height: 0.26rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  color: #000000;
  line-height: 0.5rem;
  letter-spacing: 1px;
}
form td {
  width: 3.82rem;
  font-size: 0.16rem;
  color: #000000;
  line-height: 0.5rem;
  letter-spacing: 1px;
  font-weight: bold;
}
.topic_btn {
  text-align: center;
  margin-top: 80px;

}
.topic_btn :hover{
  text-decoration: none;
  cursor: pointer;
}
.topic_btn a {
  width: 1.33rem;
  height: 0.47rem;
  background: #38a1e3;
  border-radius: 21px;
  font-size: 0.18rem;
  color: #fff;
  padding: 0.13rem 0.35rem;
 
}
.topic_btn a:last-child {
  margin-left: 1.08rem;
}
a{
  text-decoration: none;
}
table{
  width: 100%;
}
table th {
  margin-top: 0.74rem !important;
  font-size: 0.24rem;
  height: 0.26rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  color: #000000;
  line-height: 0.5rem;
  letter-spacing: 1px;
}
table td {
  width: 3.82rem;
  font-size: 0.16rem;
  color: #000000;
  line-height: 0.5rem;
  letter-spacing: 1px;
  font-weight: bold;
}
html {
  font-size: 100px;
}
@media screen and (min-width: 280px) {
  html {
    font-size: 17.5px;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 33.75px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 45px;
  }
}
@media screen and (min-width: 780px) {
  html {
    font-size: 48.75px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 62px;
  }
}
@media screen and (min-width: 1170px) {
  html {
    font-size: 73.125px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 90px;
  }
}
@media screen and (min-width: 1928px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 160px;
  }
}
