html {
  font-size: 100px;
}
* {
  margin: 0;
  padding: 0;
}
.logo {
  width: 1.6rem;
  height: 0.37rem;
  position: absolute;
  transform: translateY(-100%);
  margin-left: 0.17rem;
}
.logo img {
  width: 1.6rem;
  height: 0.37rem;
}
.header_title {
  width: 4.26rem;
  height: 1.6rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  font-weight: bold;
  text-align: left;
  color: #38a1e3;
  line-height: 0.98rem;
  font-family: Microsoft YaHei Regular;
  font-size: 0.6rem;
  position: absolute;
  margin-top: 2.5rem;
  margin-left: 2rem;
}
.header_title .qz_mark {
  width: 2.04rem;
  height: 0.61rem;
  opacity: 0.8;
  background: #7bbce4;
  border-radius: 6px;
  font-size: 0.24rem;
  font-family: Microsoft YaHei UI Regular, Microsoft YaHei UI Regular-Regular;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  line-height: 0.61rem;
  letter-spacing: 3px;
}
.login_btn {
  vertical-align: middle;
  position: absolute;
  top: 0.45rem;
  right: 0.24rem;
  background-color: #fff;
  color: #464444;
  width: 1.22rem;
  height: 0.43rem;
  background: #ffffff;
  border-radius: 5px;
  line-height: 0.43rem;
  font-size: 0.18rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  font-weight: bold;
  text-align: center;
  color: #797a7b;
}
.bg_img {
  height: 8rem;
  width: 100%;
  z-index: 100;
}
.bg_img img {
  width: 100%;
  height: 8rem;
}
.lun_div {
  width: 10.51rem;
  opacity: 0.8;
  background: #f8f8f8;
  border-radius: 20px;
  position: absolute;
  display: inline-block;
  top: 4.08rem;
  margin-left: 5.47rem;
}
.lun_div .carousel-inner {
  float: left;
  padding-top: 0.77rem;
  padding-left: 0.77rem;
  padding-bottom: 0.55rem;
}
.lun_div .carousel-inner .lun_content {
  display: inline-block;
  width: 6.58rem;
  font-size: 0.2rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  text-align: center;
  color: #797a7b;
  line-height: 0.3rem;
}
.lun_div .carousel-inner img {
  float: left;
  width: 2.04rem;
  height: 1.54rem;
}
.lun_div .carousel-control {
  color: #5e5f60;
}
.lun_div .carousel-control .glyphicon-chevron-left,
.lun_div .carousel-control .glyphicon-chevron-right {
  width: 0.23rem;
  height: 0.39rem;
  margin-top: 1.4rem;
}
.lun_div .carousel-control .glyphicon-chevron-left {
  margin-left: -1.83rem;
}
.lun_div .carousel-control .glyphicon-chevron-right {
  right: -47%;
}
.big_box {
  position: absolute;
  width: 17.37rem;
  opacity: 0.7;
  background: #f8f8f8;
  border-radius: 30px;
  margin: 0 auto;
  margin-top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  margin-bottom: 1.82rem;
}
.cx_title {
  width: 15.35rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  font-weight: bold;
  color: #000000;
  line-height: 0.5rem;
  margin-left: 0.92rem;
  font-size: 0.26rem;
  margin-top: 0.73rem;
}
.cx_title span {
  color: #f13232;
}
.topic {
  width: 16.35rem;
  margin-left: 1rem;
  height: 18.9rem;
}
.topic iframe {
  height: 18.9rem;
  width: 16.35rem;
  border: none;
}
.topic iframe .topic_title {
  font-size: 0.3rem;
  font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
  font-weight: bold;
  text-align: left;
  color: #000000;
  letter-spacing: 0.16rem;
}
a{
  text-decoration:none;
}
html {
  font-size: 100px;
}
@media screen and (min-width: 280px) {
  html {
    font-size: 17.5px;
  }
}
@media screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 33.75px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 45px;
  }
}
@media screen and (min-width: 780px) {
  html {
    font-size: 48.75px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 62px;
  }
}
@media screen and (min-width: 1170px) {
  html {
    font-size: 73.125px;
  }
}
@media screen and (min-width: 1440px) {
  html {
    font-size: 90px;
  }
}
@media screen and (min-width: 1928px) {
  html {
    font-size: 100px;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 160px;
  }
}
